.progress {
width:6%;
height:0px;
margin:3% auto;
padding:0px;
padding-bottom:6%;
position:relative;
-webkit-animation: rotation 0.81s infinite linear;
-moz-animation: rotation 0.81s infinite linear;
-o-animation: rotation 0.81s infinite linear;
animation: rotation 0.81s infinite linear;
border:3px double rgb(81,81,81);
border-left:3px solid rgb(0,0,0);
border-radius:100%;
box-shadow:0px 0px 2px 1px #000000, 0px 0px 2px 1px #000000 inset; -moz-box-shadow:0px 0px 2px 1px #000000, 0px 0px 2px 1px #000000 inset; -webkit-box-shadow:0px 0px 2px 1px #000000, 0px 0px 2px 1px #000000 inset;
background-color:rgba(120, 120, 120, 0.69);
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}

