<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/adminaction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>com.ensinthanaigal.server.admin.AdminServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>pageServlet</servlet-name>
		<url-pattern>/getpage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pageServlet</servlet-name>
		<servlet-class>com.ensinthanaigal.server.page.PageServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>postServlet</servlet-name>
		<url-pattern>/posts</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>postServlet</servlet-name>
		<servlet-class>com.ensinthanaigal.server.posts.PostServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.ensinthanaigal.server.login.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>defaultServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>defaultServlet</servlet-name>
		<servlet-class>com.ensinthanaigal.server.admin.DefaultServlet</servlet-class>
	</servlet>

</web-app>
